.form-dose-title {
  color: #ccc;
  padding: 50px;
}


.form {

  background-color: rgba(245, 245, 245, 0.3);
  padding: 50px;
  border-radius: 5px;
  color: #ccc;

}

.wrapper {
  background: image-url("spetters.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  margin-top: -20px;


}


.create-cocktail {
  color: #ccc;
  padding-top: 50px;
}


.cocktail-form {
  margin-top: 30px;
}
