@import "show";


.create-cocktail {
  margin-top: 20px;
  .md-glass {
    font-size: 40px;
    color: $orange;
  }
}


.cocktail-form {
  margin-top: 30px;
}


.cocktail-list {
  margin-top: 30px;
}
